<div class="text-center text-success">
  <h1><%= "#{@user.name}さんページ" %></h1>
</div>
<hr>
<%= link_to "保護者側一覧へ",users_path,class:"btn btn-info",width:"width:60%;" %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  　<h2>提出状況</h2>
   <% if @user.documents.all.count > 0   %>
    <table class="table table-bordered">
      <thead>
        <tr>
        <!-- 保護者側でthを表示するか分岐 -->
        <% if (@user.documents.all.count ==1 && @user.id == 1) || public_check %>
          <th class="th">期限</th>
          <th class="th" colspan="2">タイトル</th>
        <% else %>  
           <div class="bg-info text-center" style="padding:2%;">まだ提出物ありません。</div>
        <% end %>  
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |document| %>
          <% if document.public %>
          <tr>
            <td>
              <% if document.document_items.all.count > 0 && document.answers.last.nil? %>
                <span style="background-color:red"><%= "期限#{document.deadline}" if document.deadline.present? %></span>
              <% elsif document.document_items.count == 0 && document.answers.last.nil? %>
                 <span style="background-color:red"><%= "表示期限#{document.deadline+7}" if document.deadline.present? %></span>
              <% else %>
              　 <span style="background-color:green">提出済み</span>
              <% end %>
            </td>
            <td>
                  <% if document.answers.count == 0 %>
                    <span class="text-primary" style="font-size:14px;">
                      <%= document.title %>|
                    </span>
                    <!-- ユーザー1の時は表示しない -->
                    <%= link_to "提出する",document_path(document),class:"btn btn-info" unless @user.id == 1 %>
                    
                  <% else %> 
                    <span class="text-primary" style="font-size:14px;">
                        <%= link_to document.title,file_show_user_path(@user,document) %>
                    </span>
                    <span style="color:orange">済み</span>
                    <%= link_to "やり直す",document_path(document),class:"btn btn-warning" %> 
               <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <div class="bg-info text-center" style="padding:2%;">まだ提出物ありません。</div>
    <% end %>
  </div>
</div>
<hr>
<%= link_to 'Back', users_path %>
