<p id="notice"><%= notice %></p>

<p>
  <strong>Reply:</strong>
  <%= @answer.reply %>
</p>

<p>
  <strong>Document:</strong>
  <%= @answer.document_id %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
