<p id="notice"><%= notice %></p>

<h1>Document Items</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_items.each do |document_item| %>
      <tr>
        <td><%= document_item.content %></td>
        <td><%= document_item.document_id %></td>
        <td><%= link_to 'Show', document_item %></td>
        <td><%= link_to 'Edit', edit_document_item_path(document_item) %></td>
        <td><%= link_to 'Destroy', document_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document Item', new_document_item_path %>
