<%= form_with(model: document,url:yield(:url), local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row" style="background-color:#c0c0c0;border-radius:8px;">
  <div class="col-md-8 col-md-offset-2">
    <div class="field">
      <%= form.label :タイトル %>
      <%= form.text_field :title, id: :document_title,class:"form-control" %>
    </div>

    <% unless yield(:url) == document_create3_path %>
      <div class="field">
        <%= form.label :資料の概要 %>
        <%= form.text_area :memo, id: :document_memo,class:"form-control" %>
      </div>
    <% end %>

    <%= form.label "サービス選択" %>
    <%= form.select :service,service_select,{},class:"form-control" %>

    <div class="field">
      <%= form.label :外部リンク %>
      <%= form.text_field :service_url, id: :document_pdf_link,class:"form-control" %>
    </div>

    <div class="field">
      <%= form.label :期限　%>
      <%= form.date_field :deadline, id: :document_deadline,class:"form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "送信",class:"btn btn-primary" %>
    </div>
  </div>
</div>  
<% end %>
