<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title, id: :document_title,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :資料の概要 %>
    <%= form.text_area :memo, id: :document_memo,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :外部リンク %>
    <%= form.text_area :pdf_link, id: :document_pdf_link,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :期限　%>
    <%= form.date_field :deadline, id: :document_deadline,class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "送信",class:"btn btn-primary" %>
  </div>
<% end %>
