<h1>選択式提出</h1>

<div class="text-center text-primary">
  <h1><%= @document.title %></h1>
</div>
<hr>
<div style="border:1px solid black;padding:8px;">
  <h3><%= @document.memo %></h3>
  <strong style="color:red">期限:<%= @document.deadline %></strong>
</div>
<hr>
<% item_count = 0 %>
<%= form_with(url:"/documents/sendform/"+@document.id.to_s,local:true) do |f| %>
 <% @document.document_items.each do |item| %>
   <h2 style="background-color:orange;border-left:8px solid blue;padding:12px;">
     <%= item.content %>
   </h2>
   <% item.document_selects.each do |select| %>
     <% item_count += 1 %>
     <div style="border-radius:6px;padding:3px;border:0.5px solid blue;">
       <label style="font-size:16px">
         <input type="radio" name="rd<%=item_count %>" value="<%= select.content %>">
         <%= select.content %>
       </label>  
     </div>
   <% end %>
 <% end %><br>
 <div class="text-center">
   <%= f.submit "提出",class:"btn btn-primary",style:"width:40%"%>
 </div>
<% end %>
