<p id="notice"><%= notice %></p>

<h1>提出管理</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>保護者名</th>
      <th>概要</th>
      <th>期限</th>
      <th colspan="4"></th>

    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td><%= document.user.name %></td>
        <td><%= document.memo %></td>
        <td>
          <div class="bg-danger">
            <% if document.document_items.count > 0 && document.deadline.present? %>
              <%= document.answers.count >0 ? "提出済み" : "提出期限:#{document.deadline}" %>
            <% elsif document.document_items.count == 0 && document.deadline.present?  %>
              <%= "表示期限:#{document.deadline}" %>
            <% end %>    
          </div>
        </td>
        <td><%= link_to '提出', document %></td>
        <td><%= link_to '編集', edit_document_path(document) %></td>
        <td><%= link_to '削除', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% unless document.answers.nil? %>
        <% if document.answers.last.present? %>
        <tr><td colspan="8">
          <div id="answer">
            <% reply_view(document).each do |data| %>
              <% str = data.split(":") %>
              <label style="color:blue"><span style="color:#000;">質問:</span>「<%= str[0] %>」<br>&emsp;<span style="color:black;font-size:16px;">保護者回答:</span>
              <span style="color:blue;font-size:16px;"><%= str[1] %></span></label>
            <% end %>
          </div>
        </td></tr>    
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '選択式作成', new_document_path,class:"btn btn-success",style:"width:45%;height:40px;" %>
<%= link_to '入力式作成', new2_document_path,class:"btn btn-danger",style:"width:45%;height:40px;" %><br><br>
<%= link_to '表示式作成', new3_document_path,class:"btn btn-primary",style:"width:45%;height:40px;" %>

<style>
 #answer{
   width:100%;
   height:100px;
   overflow:scroll;
   border:1px solid blue;
 }
 
</style>
