<h1>提出管理</h1>
<%= link_to "保護者側一覧へ",users_path,class:"btn btn-info",width:"width:60%;" %>
<%= link_to "教員1一覧へ",documents_path,class:"btn btn-info",width:"width:60%;" %>
<%= link_to "教員書類整理版",teacher2_path,class:"btn btn-info",width:"width:60%;" %>
<% if @documents.count > 0 %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>保護者名</th>
      <th>概要</th>
      <th>期限</th>
      <th colspan="4"></th>

    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td><%= document.user.name %></td>
        <td><%= document.memo %></td>
        <td>
          <div class="bg-danger">
            <% if document.document_items.count > 0 && document.deadline.present? %>
              <%= document.answers.count >0 ? "提出済み" : "提出期限:#{document.deadline}" %>
            <% elsif document.document_items.count == 0 && document.deadline.present?  %>
              <%= "表示期限:#{document.deadline}" %>
            <% end %>    
          </div>
        </td>
        <td><%= link_to '提出', document %></td>
        <td><%= link_to '編集', edit_document_path(document) %></td>
        <td><%= link_to '削除', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
        <% unless document.answers.nil? %>
        <% if document.answers.last.present? %>
          <div id="answer">
            <% reply_view(document).each do |data| %>
              <% str = data.split(":") %>
              <label style="color:blue"><span style="color:#000;">質問:</span>「<%= str[0] %>」<br>&emsp;<span style="color:black;font-size:16px;">保護者回答:</span>
              <span style="color:blue;font-size:16px;"><%= str[1] %></span></label>
            <% end %>
          </div>
       <% end %>
       <% end %>
       </td> 
       </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="bg-info text-center" style="padding:5%;border-radius:10px;" %>データがありません。</div>
<% end %>
<style>
 #answer{
   width:100%;
   height:100px;
   overflow:scroll;
   border:1px solid blue;
 }
 
</style>
