<%= form_with(url:document_select_create_path(@document_item), local: true) do |form| %>
  <% if document_select.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document_select.errors.count, "error") %> prohibited this document_select from being saved:</h2>

      <ul>
      <% document_select.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :選択肢内容 %>
    <%= form.text_area :content, id: :document_select_content,class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "送信",class:"btn btn-primary" %>
  </div>
<% end %>
