<h1>選択肢作成</h1>
<% if flash[:danger].present? %>
  <div class="alert alert-danger"><%= flash[:danger] %></div>
<% end %>
<h2><%= "質問:#{@document_item.content}" %>
<%= render 'form', document_select: @document_select %>
<% if @select_count >=2 %>
  <%= link_to '終了', root_path,class:"btn btn-default" %>
  <%= link_to "新規質問作成","/documents_items/new/"+@document_item.document_id.to_s,class:"btn btn-primary" %>
<% end %>  
<style>
  body{ background-color:#00FF00;}
</style>